.main-chat
  .main-chat__header
    .main-chat__header__group-info
      .main-chat__header__group-info__groupname
        test
      .main-chat__header__group-info__member
        Member: masa
    .main-chat__header__group-edit
      Edit
  .main-chat__message-list
    .main-chat__message-list__chat

      .main-chat__message-list__chat__content1
        .main-chat__message-list__chat__content1__name
          masa
        .main-chat__message-list__chat__content1__at
          2019/11/20(Web) 17:43:01
      .main-chat__message-list__chat__text1
        おはよう
      .main-chat__message-list__chat__content2
        .main-chat__message-list__chat__content2__name
          masa
        .main-chat__message-list__chat__content2__at
          2019/11/20/(Wed)17:43:34
      .main-chat__message-list__chat__text2
        今日は夜から雨
  .main-chat__message-form-padding
    .main-chat__message-form-padding__form
      .main-chat__message-form-padding__form__text
        .main-chat__message-form-padding__form__text__chat
          type a message
        %label{class: "main-chat__message-form-padding__form__text__icon"}
          = icon('fas', 'image')
          %input{type: "file", class: "main-chat__message-form-padding__form__text__icon__open"}
      .main-chat__message-form-padding__form__send
        Send
