.side-bar 
  .side-bar__usernamebox
    .side-bar__usernamebox__username
      .side-bar__usernamebox__username__left-username
        = current_user.name
      .side-bar__usernamebox__username__right-username
        = link_to new_group_path, class: "side-bar__usernamebox__username__right-username__icon1" do
          =icon('fas','edit')
        = link_to edit_user_path(current_user),class: "side-bar__usernamebox__username__right-username__icon2"  do
          =icon('fas','cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__messagebox
        =link_to group_messages_path(group) do
          .side-bar__group-list__messagebox__groupname
            =group.name
          .side-bar__group-list__messagebox__message
            =group.show_last_message


